.box-movie{
  .movie{
    .img-cover {
      width: 221px;
      height: 314px;
      position: relative;
    }

    img {
      height: 100%;
      transition: 0.01s ease-in 0.1s;
      border-radius: 5px;
    }
    img:hover {
      position: absolute;
      top: -10px;
      cursor: pointer;

    }

     p{
      margin-top: 10px;
    }
    .subname {
      color: gray;
    }
  }
}