.header {
  background-color: #FDB73B;

  .mainSize {
    .Search {
      width: 350px;
      margin-left: 40px;

      .Search-Form {
        .icon-search {
          z-index: 100;
          left: 1px;
          font-size: 20px;
        }

        input {
          outline: none;
          border: none;
          font-weight: 300;
          font-size: 16px;
        }
      }
    }

    ul {
      li {
        display: flex;
        list-style: none;
        box-sizing: border-box;
        width: 85px;
        a {
          text-decoration: none;
          color: black;
          font-size: 17px;
          border-bottom: 2px solid transparent;
        }
      }

      li:last-child {
        margin-right: 0;
      }

      li:hover {
        a {
          font-weight: bold;
          border-bottom: 2px solid black;
        }
      }
    }
    .icon-login{
      color: black;
      font-size: 17px;
    }
  }
}